<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<style>
  .book-page{
    word-wrap: break-word;
  }
</style>

<head>
  {{ partial "docs/html-head" . }}
  {{ partial "docs/inject/head" . }}
</head>

<body>
  <input type="checkbox" class="hidden" id="menu-control" />
  <main class="flex container" >

    <aside class="book-menu fixed">
      {{ partial "docs/menu" . }}
    </aside>

    <div class="book-page">
      {{ partial "docs/mobile-header" . }}
      {{ template "main" . }}
    </div>

    {{ template "toc" . }}
  </main>

  {{ partial "docs/inject/body" . }}
</body>

</html>
